html,
body {
	margin: 0;
	padding: 0;
	background-color: #e6e6e6;
}

canvas {
	display: block;
}

body:before {
	content: " ";
	width: 85%;
	height: 85%;
	display: flex;
	position: absolute;
	background-image: url("./assets/g_gif-lambrock-22.gif");
	background-position: center;
	background-repeat: no-repeat;
	top: 7.5%;
	left: 7.5%;
	background-size: contain;
}


.lambrock-button {
	cursor: pointer;
	transition: transform 0.5s ease;
}

.lambrock-button:hover {
	transform: scale(1.25);
}